# =========================================================
# GIT
# =========================================================

.git
.gitignore
.github


# =========================================================
# ENV / SECRETS
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# NODE
# =========================================================

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log


# =========================================================
# COMPOSER
# =========================================================

vendor


# =========================================================
# LARAVEL RUNTIME
# =========================================================

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*


# =========================================================
# CACHE
# =========================================================

bootstrap/cache/*.php


# =========================================================
# IDE
# =========================================================

.vscode
.idea


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# TEST / DOCUMENTATION
# =========================================================

.phpunit.result.cache